

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 5px -2px var(--lines-color);
    padding: 0 50px;
}

.title {
    font-size: 14px;
    font-weight: 800;
    padding-block: 15px;
}